/* Primary */

/* - Orange: hsl(25, 97%, 53%)

### Neutral

- White: hsl(0, 0%, 100%)
- Light Grey: hsl(217, 12%, 63%)
- Medium Grey: hsl(216, 12%, 54%)
- Dark Blue: hsl(213, 19%, 18%)
- Very Dark Blue: hsl(216, 12%, 8%) */

/* APP CONTAINER */

.thePage {
  width: 100%;
  height: 100vh;
  /* border: 1px solid green; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.appContainer {
  /* box-sizing: content-box; */
  /* padding: 5% 1% 10% 1%; */
  /* display: flex; */
  /* flex-direction: column; */
  /* margin: auto; */
  background-image: linear-gradient(
    180deg,
    hsl(213, 19%, 18%),
    hsl(213, 19%, 18%, 0.5)
  );
  border-radius: 15px;
  width: 50vh;
  height: 50vh;
  /* border: 1px solid red; */
}

/* CONTENT CONTAINER */

.contentContainer {
  display: flex;
  flex-direction: column;
  /* border: 1px solid green; */
  width: 90%;
  margin: auto;
  gap: 1em;
}

/* STAR ICON */

.starContainer {
  margin-top: 0.938em;
  display: flex;
  background-color: hsl(216, 12%, 54%, 0.1);
  height: 5vh;
  width: 5vh;
  border-radius: 50%;
}

.starIcon {
  margin: auto;
  height: 0.78em;
}

/* HEADING */

.ratingHeading,
.thanksHeading {
  font-family: "Overpass", sans-serif;
  font-weight: 700;
  color: hsl(0, 0%, 100%);
  font-size: 1.25rem;
  text-align: left;
}

/* RATING TEXT */

.ratingText,
.thanksText {
  font-family: "Overpass", sans-serif;
  color: hsl(217, 12%, 63%, 0.8);
  font-size: 0.938rem;
  line-height: 1.4;
  text-align: left;
}

/* NUMBERS */

.numberBar {
  display: flex;
  justify-content: space-between;
}

.numberSelector {
  font-size: 1rem;
  font-weight: 700;
  font-family: "Overpass", sans-serif;
  display: inline-flex;
  color: hsl(0, 0%, 100%, 0.4);
  background-color: hsl(216, 12%, 54%, 0.1);
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  padding: 0.75em 1em 0.75em 1em;
  border: none;
}

.numberSelector:hover {
  background: hsl(25, 97%, 53%);
  border: 1px solid hsl(25, 97%, 53%);
}

/* SUBMIT BUTTON */

.btnContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
}

.submitBtn {
  font-family: "Overpass", sans-serif;
  font-weight: 700;
  color: white;
  padding: 0.625em 6.5em 0.625em 6.5em;
  background: hsl(25, 97%, 53%);
  border: 0.313em solid hsl(25, 97%, 53%);
  border-radius: 25px;
  font-size: 1rem;
  justify-content: center;
}

/* Rating Thank You Page */

.thanksHeading,
.thanksText {
  align-self: center;
  text-align: center;
}

.thanksHeading {
  font-size: 1.5625rem;
}

.ratingDisplay {
  color: white;
}

/* Image */

.imageContainer {
  margin-top: 1.563em;
  text-align: center;
}

.thankYouImage {
  height: 6em;
}

/* Confirmation text */

.confirmationContainer {
  display: flex;
  justify-content: center;
}

.confirmationText {
  font-family: "Overpass", sans-serif;
  font-size: 1rem;
  font-weight: 700;
  color: hsl(25, 97%, 53%, 0.7);
  background-color: hsl(216, 12%, 54%, 0.1);
  border-radius: 15px;
  padding: 0.375em 0.5em;
  /* width: 50%; */
}

.thanksText {
  font-weight: 700;
  line-height: 1.5;
  margin-top: 0.625em;
}
